dask
dill
duckdb
envtoml
holidays
icecream
#jsonargparse
mlflow
geopandas
pandas
pendulum
polars
# manual install pyiso from source code as v1.0
# nda iconstall -c conda-forge pygrib -- not used

psycopg2-binary
#pynio -- need to use conda 
#CONDA_SUBDIR=osx-64 conda install -y pynio
# conda install -y -c conda-forge pynio
pydantic
pytorch-lightning
read_env
requests
rioxarray
scikit-learn
shapely
sqlalchemy
toml
torch==1.13 
tqdm
xarray


pytest