dask
dill
envtoml
jsonargparse
mlflow
geopandas
pandas
# conda install -c conda-forge pygrib -- not used

psycopg2-binary
#pynio -- need to use conda 
#CONDA_SUBDIR=osx-64 conda install pynio
pytorch-lightning
read_env
requests
rioxarray
scikit-learn
shapely
sqlalchemy
toml
torch==1.13 
tqdm
typer
xarray

pytest